/* Reset Básico para consistência entre navegadores */
*, *::before, *::after {
    box-sizing: border-box; /* Garante que padding e border não alterem a largura/altura */
}

body, h1, h2, h3, p, ul, ol, figure, blockquote {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}